@import "../variables";

.home-component {
  .home-text {
    color: #FFFFFF;
    height: calc(100vh - 4rem);

    @media screen and (min-width: $tablet) {
      height: inherit;
    }

    h1 {
      font-size: 5rem;
      padding-top: 4rem;
      padding-bottom: 4rem;

      @media screen and (min-width: $tablet) {
        font-size: 6rem;
      }

      @media screen and (min-width: $desktop) {
        font-size: 8rem;
      }
    }

    p {
      font-size: 2rem;
      padding-bottom: 4rem;

      @media screen and (min-width: $tablet) {
        font-size: 2.5rem;
      }
    }
  }

  .card-container {
    @media screen and (min-width: $tablet) {
      margin-top: 4rem;
    }

    .row > div {
      margin-bottom: 1rem;

      @media screen and (min-width: $tablet) {
        margin-bottom: 0;
      }
    }

      .card {
          min-height: 333px;
      }
  }

  .card {
    background-color: rgba(255,255,255,0.2);
    color: white;
  }

  .quiz-link {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
    color: white;
    font-style: italic;
    text-decoration: underline;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
