@import "vendors";
@import "animations";

@import "routes/Home";
@import "routes/QuizList";
@import "routes/QuizGrid";
@import "routes/QuizCreate";
@import "routes/QuizPage";
@import "routes/About";
@import "routes/Result";

@import "components/Navbar";
@import "components/Loading";

#root {
  .hero {
    background-image: url("../images/hero2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    top: 0;

      &.geek {
          background-image: url("../images/geek-level.jpg");

          div {
              height: 100%;
              width: 100%;
              background-color: rgba(0, 0, 0, 0.5);
          }
      }
  }
}
